
#menuBar{
	-fx-background-color: lightgray;
}

#mainBorderPane{
	-fx-background-color: radial-gradient(radius 100%, lightgrey, lightblue); 
}

#valueBox{
	-fx-font-size: 16pt;
	-fx-font-weight: bold;
}

#nameBox{
	-fx-font-size: 16pt;
	-fx-font-weight: bold;
}

#header {
	-fx-font-family: fantasy;
	-fx-font-size: 24pt;
	-fx-font-weight: bold;
	-fx-text-fill: mediumblue;
	-fx-stroke: black;
	-fx-stroke-width: 1;
	-fx-effect: dropshadow( gaussian , darkgray , 0,0,2,2 );
}

#buttonLabel{
	-fx-font-size: 16pt;
	-fx-font-weight: bold;
	-fx-text-fill: white;
	-fx-alignment: center;
}

#unreadMsgLabel{
	-fx-font-size: 12pt;
	-fx-font-weight: bold;
	-fx-text-fill: white;
	-fx-alignment: center;
}

#portfolioHeader{
	-fx-font-family: fantasy;
	-fx-font-size: 20pt;
	-fx-font-weight: bold;
	-fx-text-fill: red;
	-fx-stroke: black;
	-fx-stroke-width: 1;
	-fx-effect: dropshadow( gaussian , darkgray , 0,0,2,2 );
}

#pleaseWaitText{
	-fx-font-family: fantasy;
	-fx-font-size: 16pt;
	-fx-font-weight: bold;
	-fx-text-fill: limegreen;
	-fx-stroke: black;
	-fx-stroke-width: 1;
}

#stockDetailText{
	-fx-font-family: fantasy;
	-fx-font-size: 16pt;
	-fx-stroke: white;
	-fx-text-fill: white;
	-fx-stroke-width: 1;
}

#inboxMessageText{
	-fx-font-family: fantasy;
	-fx-font-size: 14pt;
	-fx-stroke: white;
	-fx-text-fill: white;
}

#inboxMessageSubject{
	-fx-font-family: fantasy;
	-fx-font-size: 20pt;
	-fx-stroke: white;
	-fx-text-fill: white;
}
	
#overlayBackground{
	-fx-background-color: rgba(0,0,0,0.75);
}

.chart-title{
	-fx-text-fill: rgb(255,255,255);
	-fx-font-size: 2.0em;
}

.axis{
	-fx-text-fill: rgb(255,255,255); 
	-fx-tick-label-fill: rgb(255,255,255);
	-fx-font-family: Tahoma;
}

.axis-label {
     -fx-text-fill: rgb(255,255,255); 
}